@font-face {
    font-family: "PTSans"; 
    src: url("../fonts/PTSans-Caption.ttf") format(".ttf"); 
}

@font-face {
    font-family: "Parangon530C"; 
    src: url("../fonts/Parangon530C.ttf") format(".ttf");
}

@font-face {
    font-family: "Futura"; 
    src: url("../fonts/futura\ medium\ bt.ttf") format(".ttf")
    url("../fonts/Futura\ Bold\ font.ttf") format(".ttf");
}

@font-face {
    font-family: "FuturaBT"; 
    src: url("../fonts/futura-bold-bt.ttf") format(".ttf");
}

@font-face {
    font-family: "Arial"; 
    src: url("../fonts/Arial-BoldMT.ttf") format(".ttf")
    url("../fonts/arial.ttf") format(".ttf");
}

@font-face {
    font-family: "Tahoma"; 
    src: url("../fonts/Tahoma-Bold.ttf") format(".ttf");
}

@font-face {
    font-family: "HelveticaNeueCyr"; 
    src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format(".ttf")
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format(".ttf");
}

@font-face {
    font-family: "MyriadPro"; 
    src: url("../fonts/MyriadPro-Regular.ttf") format(".ttf");
}

@font-face {
    font-family: "Exo20"; 
    src: url("../fonts/Exo20-Bold.ttf") format(".ttf")
    url("../fonts/Exo20-SemiBold.ttf") format(".ttf");
}

@font-face {
    font-family: "Exo20"; 
    src: url("../fonts/Exo20-Bold.ttf") format(".ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background:#fff;
}

button, img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    height: auto;
    padding: 0 127px;
}

/* --------top------- */
.container-top-background {
    height: auto;
    padding: 0 127px;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-title-text-rectangles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-title-text-rectangles h1 {
    width: 100%;
    font-family: Parangon530C, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

.top-title-text-rectangles .top-title-text-paragraph {
    width: 75%;
    line-height: 1.5;
    font-family: PTSans-Caption, sans-serif;
    font-size: 24px;
    color: #fff;
    margin: 73px;
    text-align: center;
    align-items: center;
}

.top-rectangle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#top-rectangle {
    width: 150px;
    height: 155px;
    border: solid 2px #fff; 
    margin-bottom: 25px;
    position: relative;
}

#top-rectangle h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Parangon530C, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 33px;

}

#top-rectangle p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-family: PTSans-Caption, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.top-rectangle-img {
    width: 25%;
    position: absolute;
    top: -50px; 
    left: 50px;
}

/* ------header------ */
.container-header {
    height: auto;
    padding: 0 127px;
}

.header-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.main-nav {
    margin-top: 40px;
    font-family: Futura-Medium, sans-serif;
    font-size: 30px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.main-nav li a {
    padding:  0 15px;
    color: #000;
}

.main-nav a:hover{
    color: #f6ae48;
}  

.header-line {
    margin: 40px 0;
    border-bottom: 2px solid #adadad;
}

/* ---------studio-------- */
.studio-paragraph-wrapper {
    position: relative;
    width: 75%;
    top: 0%;
    left: 0%;
}

.wrapper-watermark {
    position: relative;
    top: 55px;
    left: 6%;
    z-index: 0;
    font-size: 350px;
    font-family: PTSans-Caption, sans-serif;
    color: #d3d3d3;
}

.studio-paragraph {
    position: relative;
    bottom: 200px;
    left: 8%;
    z-index: 1;
    line-height: 1.5;
    font-family: PTSans-Caption, sans-serif;
    font-size: 18px;
    color: #313131;
    text-align: left;
}

.studio-title-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 524px;
}

.studio-title-text h1 {
    width: 400px;
    font-family: HelveticaNeueCyr-Bold, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.studio-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.studio-block {
    width: 30%;
    line-height: 1.5;
}

.studio-block:hover {
    background-color: #f6ae48;
    padding: 10px;
}

.studio-block h1 {
    font-family: Arial-BoldMT, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.studio-block:hover h1 {
    font-family: Arial-BoldMT, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #f6ae48;
    text-align: left;
    padding: 5px;
}

.studio-block p {
    font-family: Arial-Regular, sans-serif;
    font-size: 15px;
    color: #000;
    text-align: left;
}

.studio-block:hover p {
    color: #fff;
    background-color: #f6ae48;
    font-family: Arial-Regular, sans-serif;
    font-size: 15px;
    padding: 5px;
}

.studio-block:hover .studio-rocket-image {
    background: url('../images/rocketWhiteStudio.png'); 
    display: block;
    width: 30px; 
    height: 58px; 
}

a.studio-rocket-image {
    background: url('../images/rocketStudio.png'); 
    display: block; 
    width: 30px;
    height: 58px; 
    margin-bottom: 10px;
}

.studio-block:hover .studio-phone-image {
    background: url('../images/phoneWhiteStudio.png'); 
    display: block;
    width: 28px; 
    height: 45px; 
}

a.studio-phone-image {
    background: url('../images/phoneStudio.png'); 
    display: block; 
    width: 28px;
    height: 45px; 
    margin-bottom: 10px;
}

.studio-block:hover .studio-heart-image {
    background: url('../images/lifelineWhiteStudio.png'); 
    display: block;
    width: 57px; 
    height: 45px; 
}

a.studio-heart-image {
    background: url('../images/lifelineBlueStudio.png'); 
    display: block; 
    width: 59px;
    height: 48px; 
    margin-bottom: 10px;
}

.img-white:hover {
    background-color: #f6ae48; 
}

.studio-button-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.studio-button-arrow button {
    margin: 5px 0;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 8px 19px;
    font-size: 18px;
    font-family: MyriadPro-Regular, sans-serif;
}

/* --------development------------ */
.container-development-background {
    height: auto;
    background-image: url('../images/backgroundDevelopment.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.development-title-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 570px;
}

.development-title-text h1 {
    width: 75%;
    font-family: Exo20-Bold, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.development-title-text p {
    margin-top: 70px;
    line-height: 1.5;
    width: 85%;
    font-family: HelveticaNeueCyr-Roman, sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.four-block {
    position: relative;
    height: 660px;
}

.development-title-image {
    position: relative;
}

.development-wrapper-image {
    position: absolute;
    top: -47px;
}

.development-title h1 {
    position: absolute;
    left: 130px;
    top: 75px;
    z-index: 1;
    font-family: Parangon530C, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.development-three-block {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 255px;
    width: 1135px;
}

.development-block h1 {
    position: absolute;
    left: 45px;
    top: 75px;
    z-index: 3; 
    font-family: FuturaBT-Bold, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.line {
    border-bottom: 2px solid #fff;
}

.development-button-arrow {
    position: absolute;
    left: 44px;
    top: 240px;
    z-index: 4;
    width: 280px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.development-button-arrow button {
    margin: 5px 0;
    color: #fff;
    background: transparent;
    padding: 8px 19px;
    font-size: 24px;
    font-family: MyriadPro-Regular, sans-serif;
}

.development-button-arrow .blue-btn {
    border: 2px solid #00b9e7;
}

.development-button-arrow .yellow-btn {
    border: 2px solid #f6ae48;
}

.development-button-arrow .green-btn {
    border: 2px solid #66bf0d;
}

#dev-rectangle {
    bottom: -46px;
    position: absolute;
    z-index: 5;
    width: 366px;
    height: 52px;
    margin-bottom: 0;
    border: none;
}

.blue {
    background-color: #00b9e7;
}

.yellow {
    background-color: #ffcb00;
}

.green {
    background-color: #66bf0d;
}

.development-wrapper {
    position: relative;
}

/* -------firt in searching---- */
.first-in-searching {
    width: 100%;
    height: 600px;
    position: relative;
    left: 45px;
    top: 75px;
    z-index: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.first-in-searching-title-text {
    width: 50%;
}

.first-in-searching-title-text h1 {
    display: flex;
    position: absolute;
    left: -8px;
    top: 3px;
    z-index: 1; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #cfcfcf;
    text-transform: uppercase;
}

.first-in-searching-title-text h2 {
    display: flex;
    position: absolute;
    left: 48px;
    top: 28px;
    z-index: 2; 
    font-family: Parangon530C, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.first-in-searching-title-text p {
    display: flex;
    position: absolute;
    left: 48px;
    top: 102px;
    width: 565px;
    z-index: 2; 
    font-size: 24px;
    color: #000;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.first-in-searching-images {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.first-in-searching-images img {
    width: 30%;
}

/* -----our-projects------- */
.container-our-projects {
    height: auto;
}

.our-projects {
    height: auto;
    position: relative;
}

.color-strip {
    width: 100%;
    height: 120px;
    background-color: #303263;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-strip h1 {
    width: 60%;
    display: flex;
    text-align: center;
    position: relative;
    z-index: 0; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 97px;
    font-weight: bold;
    color: #777898;
    text-transform: uppercase;
}

.color-strip h2 {
    width: 35%;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    z-index: 1; 
    font-family: Parangon530C-Regular, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.our-projects-collage-1, .our-projects-collage-2 {
    display: flex;
    align-items: stretch;
}

.img-wrapper {
    width: 50%;
}

.our-projects-collage-1 img, .our-projects-collage-2 img {
    width: 100%;
    height: 100%;
}

.images-auto-service {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.images-auto-service .description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-strip-button {
    width: 100%;
    height: 120px;
    background-color: #303263;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-strip-button button {
    background-color: #6a6b8e;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 20px 43px;
    margin: 25px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 20%;
    height: 66px;
}

.color-strip-button button:hover {
    color: #6a6b8e;
    background-color: #fff;
    font-family: Tahoma-Bold, sans-serif;
    font-weight: bold;
}

/* -------adaptation------- */
.container-adaptation {
    padding: 0 87px;
    height: 100vh; 
}

.adaptation {
    z-index: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 500px;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 20px;
}

.adaptation-title-text {
   width: 55%;
}

.adaptation-title-text h1 {
    display: flex;
    position: absolute;
    left: 5%;
    top: 0%;
    z-index: 1; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #cfcfcf;
    text-transform: uppercase;
}

.adaptation-title-text h2 {
    display: flex;
    position: absolute;
    left: 11%;
    top: 18px;
    z-index: 2; 
    font-family: Parangon530C, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.adaptation-title-text p {
    display: flex;
    position: absolute;
    left: 9%;
    top: 20%;
    width: 55%;
    z-index: 2; 
    font-size: 24px;
    color: #000;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.adaptation-images img {
    margin: 10px;
}

.adaptation-images {
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.adaptation-img-1 {
    width: 19%;
}

.adaptation-img-2 {
   width: 39%;
}

.adaptation-img-3 { 
    width: 59%;
}

/* ----------trade-in------- */
.container-trade-in-background {
    height: auto;
    padding: 0 127px;
    background-image: url('../images/tradeInBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.trade-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trade-in-title h1 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Parangon530C, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.trade-in-title {
    width: 100%;
}

.trade-in-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trade-in-block {
    margin-top: 45px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.trade-in-ico-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.trade-in-ico-title h1 {
    width: 300px;
    margin: 10px;
    font-family: Parangon530C, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.trade-in-paragraph p {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 25px;
    font-family: arial, sans-serif;
    font-size: 18px;
    color: #fff;
}

.trade-in-button button {
    width: 100%;
    background-color: #f6ae48;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 15px 30px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---care-for-everyone--- */
.care-for-everyone {
    height: 100vh;
    width: 100%;
    /* height: 600px; */
    position: relative;
    left: 0;
    top: 75px;
    z-index: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.care-for-everyone-title-text {
    width: 50%;
}

.care-for-everyone-title-text h1 {
    display: flex;
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 1; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #cfcfcf;
    text-transform: uppercase;
}

.care-for-everyone-title-text h2 {
    display: flex;
    position: absolute;
    left: 11%;
    top: 18px;
    z-index: 2; 
    font-family: Parangon530C, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.care-for-everyone-title-text p {
    display: flex;
    position: absolute;
    left: 9%;
    top: 102px;
    width: 40%;
    z-index: 2; 
    font-size: 24px;
    color: #000;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.care-for-everyone-image {
    width: 50%;
    /* height: 434px; */
    position: absolute;
    right: 115px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.care-for-everyone-image img {
    width: 100%;
    margin-top: 100px;
}

/* ----contact-us--- */
.container-contact-us-background {
    padding: 0 127px;
    height: auto;
    background-image: url('../images/contactUsBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-us-title-text  {
    width: 50%;
}

.contact-us-title-text h1 {
    display: flex;
    font-family: Parangon530C, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.contact-us-title-text p {
    margin-top: 55px;
    display: flex;
    font-size: 18px;
    color: #fff;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.contact-us-paragraph-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}

.contact-us-paragraph-button p {
    width: 100%;
    display: flex;
    font-size: 14px;
    color: #fff;
    font-family: Arial-Regular, sans-serif;
    line-height: 1.5;
    margin: 15px 0 0 25px;
}

.contact-us-paragraph-button button {
    background-color: #f6ae48;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 15px 30px;
    margin: 15px 0 0 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Parangon530C, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-us-block {
    width: 70%;
    margin-top: 80px;
}

.first-name,.last-name {
    background-color: transparent;
    width: 304px;
    height: 45px;
    font-size: 18px;
    color: #fff;
    border-color: #fff;
    padding: 19px;
    font-family: Arial-Regular, sans-serif;
}

.email {
    background-color: transparent;
    width: 612px;
    height: 45px;
    font-size: 18px;
    border-color: #fff;
    padding: 19px;
    font-family: Arial-Regular, sans-serif;
}

.message {
    background-color: transparent;
    width: 612px;
    height: 162px;
    resize: none;
    font-size: 18px;
    border-color: #fff;
    padding: 19px;
    font-family: Arial-Regular, sans-serif;
}

::placeholder {
    color: #fff;
    font-size: 18px;
    font-family: Arial-Regular, sans-serif;
}

/* -----another-color-strip-- */
.another-color-strip {
    width: 100%;
    height: 110px;
    background-color: #f6ae48;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* media-query */
@media screen and (max-width: 1280px) {
    .container {
        height: auto;
        padding: 0 87px;
    }
    
    /* --------top------- */
    .container-top-background {
        padding: 0 87px;
    }
    
    .top-title-text-rectangles h1 {
        font-size: 28px;
    }
    
    .top-title-text-rectangles .top-title-text-paragraph {
        width: 100%;
        margin: 50px 0;
        font-size: 18px;
    }
    
    #top-rectangle {
        margin-top: 50px;
        height: 130px;
    }
    
    #top-rectangle h2 {
        font-size: 28px;
        margin-top: 23px;
    
    }
    
    #top-rectangle p {
        font-size: 15px;
    }

    /* ------header------ */
    .main-nav {
        margin-top: 30px;
        font-size: 18px;
    }
    
    .main-nav li a {
        padding:  0 10px;
    }
    
    .header-line {
        margin-bottom: 30px;
    }
    
    /* ---------studio-------- */
    .studio-block h1 {
        font-size: 18px;
    }
    
    .studio-block:hover h1 {
        font-size: 18px;
    }
    
    .studio-block p {
        font-size: 14px;
    }
    
    .studio-block:hover p {
        font-size: 14px;
    }
    
    .studio-button-arrow button {
        padding: 6px 15px;
        font-size: 16px;
    }

    .studio-button-arrow img {
        width: 20px;
    }
    
    /* --------development------------ */
    .container-development-background {
        height: auto;
    }
    
    .development-title-text h1 {
        font-size: 40px;
    }
    
    .development-title-text p {
        font-size: 20px;
    }
    
    .four-block {
        height: 550px;
    }
    
    .development-wrapper-image img {
        width: 507px;
    }
    
    .development-title h1 {
        font-size: 38px;
    }
    
    .development-three-block {
        left: 25px;
        width: 90%;
    }

    .development-block {
        padding-right: 10px;
    }
    
    .development-block h1 {
        top: 50px;
        font-size: 30px;
    }
    
    .development-button-arrow {
        left: 30px;
        top: 136px;
        width: 175px;
    }

    .development-right-arrow {
        width: 15%;
    }

    #dev-rectangle {
        width: 100%;
    }
    
    .development-button-arrow button {
        padding: 4px 15px;
        font-size: 16px;
    }

    .development-img-blocks-bg {
        width: 100%;
    }
    
    /* -------firt in searching---- */
    .first-in-searching {
        left: 25px;
    }
    
    .first-in-searching-title-text {
        width: 35%;
    }
    
    .first-in-searching-title-text h1 {
        left: -5%;
        top: 0;
        font-size: 60px;
    }
    
    .first-in-searching-title-text h2 {
        left: 3%;
        top: 18px;
        font-size: 28px;
    }
    
    .first-in-searching-title-text p {
        left: 1%;
        top: 102px;
        width: 75%;
        font-size: 21px;
    }
    
    .first-in-searching-images {
        width: 23%;
        top: 30px;
    }
    
    /* -----our-projects------- */
    .color-strip {
        height: 100px;
    }

    .color-strip h1 {
        width: 65%;
        left: 15%;
        top: 20%;
        font-size: 60px;
    }
    
    .color-strip h2 {
        width: 50%;
        left: 40%;
        top: 0;
        font-size: 28px;
    }

    .color-strip-button {
        height: 100px;
    }
    
    .color-strip-button button {
        border-radius: 20px;
        padding: 8px 23px;
        margin: 25px 0;
        font-size: 16px;
        width: 20%;
        height: 50px;
    }
    
    /* -------adaptation------- */
    .adaptation {
        width: 85%;
        margin-top: 65px;
    }
    
    .adaptation-title-text {
       width: 35%;
    }
    
    .adaptation-title-text h1 {
        left: 5%;
        top: 0%;
        font-size: 60px;
    }
    
    .adaptation-title-text h2 {
        left: 11%;
        top: 18px;
        font-size: 28px;
    }
    
    .adaptation-title-text p {
        font-size: 21px;
    }

    .adaptation-images img {
        margin: 10px;
    }

    .adaptation-images {
        width: 28%;
        right: -10%;
        top: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* ----------trade-in------- */
    .container-trade-in-background {
        padding: 0 87px;
    }

    .trade-in-title h1 {
        margin-top: 20px;
        font-size: 28px;
    }
    
    .trade-in-title {
        width: 75%;
    }
    
    .trade-in-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .trade-in-block {
        width: 75%;
    }
    
    .trade-in-ico-title h1 {
        font-size: 22px;
    }

    .trade-in-ico-title img {
        width: 10%;
        height: 10%;
    }
    
    .trade-in-paragraph p {
        margin-top: 0;
        line-height: 1.2;
    }
    
    .trade-in-button button {
        margin: 20px 0;
        font-size: 14px;
    }
    
    /* ---care-for-everyone--- */
    .care-for-everyone-title-text {
        width: 35%;
    }
    
    .care-for-everyone-title-text h1 {
        left: 5%;
        top: 0;
        font-size: 60px;
    }
    
    .care-for-everyone-title-text h2 {
        left: 11%;
        top: 18px;
        font-size: 28px;
    }
    
    .care-for-everyone-title-text p {
        width: 50%;
        font-size: 21px;
    }
    
    .care-for-everyone-image {
        width: 20%;
    }
    
    /* ----contact-us--- */
    .container-contact-us-background {
        height: 100vh;
        padding: 0 87px;
    }
    
    .contact-us {
        display: flex;
        flex-direction: column;
    }
    
    .contact-us-title-text  {
        margin-top: 50px;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact-us-title-text p {
        margin-top: 45px;
    }
    
    .contact-us-block {
        width: 75%;
        margin-top: 60px;
    }
    
    .first-name,.last-name {
        width: 49.5%;
    }
    
    .email {
        width: 100%;
    }
    
    .message {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: auto;
        padding: 0 67px;
    }
    
    /* --------top------- */
    .container-top-background {
        padding: 0 67px;
    }
    
    .top-title-text-rectangles h1 {
        font-size: 24px;
    }
    
    .top-title-text-rectangles .top-title-text-paragraph {
        margin: 25px 0;
        font-size: 14px;
        line-height: 1.2;
    }
    
    #top-rectangle {
        margin-top: 40px;
        height: 100px;
        width: 110px;
    }
    
    #top-rectangle h2 {
        font-size: 20px;
        margin-top: 18px;
    
    }
    
    #top-rectangle p {
        font-size: 12px;
    }

    .top-rectangle-img {
        left: 37px;
        top: -40px;
    }

    /* ------header------ */
    .container-header {
        padding: 0 67px;
    }

    .main-nav {
        margin-top: 15px;
        font-size: 14px;
    }
    
    .main-nav li a {
        padding:  0 5px;
    }
    
    .header-line {
        margin-bottom: 15px;
    }
    
    /* ---------studio-------- */
    .studio-paragraph-wrapper {
        width: 100%;
    }
    
    .wrapper-watermark {
        top: 23px;
        left: -5%;
        font-size: 275px;
    }
    
    .studio-paragraph {
        top: -40%;
        left: 0%;
        font-size: 16px;
    }
    
    .studio-title-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .studio-title-text h1 {
        width: 100%;
        font-size: 36px;
        text-align: center;
    }
    
    .studio-blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }
    
    .studio-block {
        width: 100%;
        line-height: 1.2;
    }

    .studio-block h1 {
        font-size: 12px;
    }
    
    .studio-block:hover h1 {
        font-size: 12px;
    }
    
    .studio-block p {
        font-size: 10px;
    }
    
    .studio-block:hover p {
        font-size: 10px;
    }
    
    .studio-button-arrow button {
        padding: 4px 12px;
        font-size: 14px;
    }

    .studio-button-arrow img {
        width: 15px;
    }
    
    /* --------development------------ */
    .container-development-background {
        height: auto;
    }
    
    .development-title-text h1 {
        font-size: 28px;
    }
    
    .development-title-text p {
        font-size: 16px;
        line-height: 1.2;
    }
    
    .four-block {
        height: 350px;
    }
    
    .development-wrapper-image img {
        width: 307px;
    }
    
    .development-title h1 {
        font-size: 28px;
        left: 75px;
    }
    
    .development-three-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 170px;
        left: 14px;
        width: 96%;
    }

    .development-block {
        padding-right: 10px;
    }
    
    .development-block h1 {
        left: 14px;
        top: 20px;
        font-size: 21px;
    }
    
    .development-button-arrow {
        left: 6px;
        top: 80px;
        width: 115px;
    }

    .development-right-arrow {
        width: 10%;
    }

    .development-button-arrow button {
        padding: 4px 9px;
        font-size: 11px;
    }

    /* -------firt in searching---- */
    .first-in-searching {
        left: 10px;
    }
    
    .first-in-searching-title-text {
        width: 25%;
    }
    
    .first-in-searching-title-text h1 {
        font-size: 40px;
    }
    
    .first-in-searching-title-text h2 {
        top: 11px;
        font-size: 21px;
    }
    
    .first-in-searching-title-text p {
        top: 68px;
        width: 65%;
        font-size: 18px;
        line-height: 1.2;
    }
    
    .first-in-searching-images {
        width: 40%;
        top: 40px;
    }
    
    /* -----our-projects------- */
    .color-strip {
        height: 75px;
    }

    .color-strip h1 {
        width: 75%;
        left: 2%;
        font-size: 40px;
    }
    
    .color-strip h2 {
        width: 75%;
        left: 22%;
        top: -14px;
        font-size: 21px;
    }

    .color-strip-button {
        height: 75px;
    }
    
    .color-strip-button button {
        border-radius: 16px;
        padding: 5px 20px;
        margin: 15px 0;
        font-size: 14px;
        width: 30%;
    }
    
    /* -------adaptation------- */
    .container-adaptation {
        padding: 0 67px;
    }

    .adaptation {
        width: 85%;
        margin-top: 65px;
    }
    
    .adaptation-title-text {
       width: 85%;
    }
    
    .adaptation-title-text h1 {
        left: 5%;
        top: 0%;
        font-size: 40px;
    }
    
    .adaptation-title-text h2 {
        left: 11%;
        top: 11px;
        font-size: 21px;
    }
    
    .adaptation-title-text p {
        top: 68px;
        font-size: 18px;
        line-height: 1.2;
    }

    .adaptation-images {
        top: 5%;
        right: -25%;
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    
    /* ----------trade-in------- */
    .container-trade-in-background {
        padding: 0 67px;
    }

    .trade-in-title h1 {
        font-size: 21px;
    }
 
    .trade-in-ico-title h1 {
        font-size: 18px;
    }

    .trade-in-paragraph p {
        font-size: 16px;
    }

    .trade-in-button button {
        margin: 15px 0;
        font-size: 11px;
    }
    
    /* ---care-for-everyone--- */
    .care-for-everyone-title-text {
        width: 25%;
    }
    
    .care-for-everyone-title-text h1 {
        font-size: 40px;
    }
    
    .care-for-everyone-title-text h2 {
        top: 11px;
        font-size: 21px;
    }
    
    .care-for-everyone-title-text p {
        top: 68px;
        line-height: 1.2;
        width: 45%;
        font-size: 18px;
    }
    
    .care-for-everyone-image {
        width: 85%;
        top: 10%;
        left: 5%;
    }

    .care-for-everyone-image img {
        width: 40%;
        margin-top: 0;
    }
    
    /* ----contact-us--- */
    .container-contact-us-background {
        padding: 0 67px;
    }
    
    .contact-us-title-text  {
        margin-top: 40px;
        width: 95%;
    }
    
    .contact-us-title-text p {
        margin-top: 40px;
    }
    
    .contact-us-block {
        width: 95%;
        margin-top: 50px;
    }
    
    .first-name,.last-name {
        height: 35px;
        font-size: 14px;
        padding: 5px;
        /* width: 49.4%; */
    }

    .wrapper-input-field {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .email {
        height: 35px;
        font-size: 14px;
        padding: 5px;
        width: 100%;
    }
    
    .message {
        height: 150px;
        font-size: 14px;
        padding: 5px;
        width: 100%;
    }

    ::placeholder {
        font-size: 14px;
    }

    .contact-us-paragraph-button p {
        width: 50%;
        font-size: 11px;
        line-height: 1.2;
        margin: 10px 0 0 20px;
    }
    
    .contact-us-paragraph-button button {
        border-radius: 15px;
        padding: 10px 25px;
        margin: 10px 0 0 10px;
        font-size: 11px;
    }

    /* -----another-color-strip-- */
    .another-color-strip {
        width: 100%;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: auto;
        padding: 0 47px;
    }
    
    /* --------top------- */
    .container-top-background {
        padding: 0 47px;
    }
    
    .top-title-text-rectangles h1 {
        font-size: 18px;
    }
    
    .top-title-text-rectangles .top-title-text-paragraph {
        margin: 15px 0;
        font-size: 11px;
    }
    
    #top-rectangle {
        margin-top: 30px;
        height: 80px;
        width: 100px;
    }
    
    #top-rectangle h2 {
        font-size: 16px;
        margin-top: 15px;
    
    }
    
    #top-rectangle p {
        font-size: 10px;
    }

    .top-rectangle-img {
        left: 36px;
        top: -28px;
    }

    /* ------header------ */
    .container-header {
        padding: 0 47px;
    }

    .main-nav {
        margin-top: 10px;
        font-size: 10px;
    }
    
    .main-nav li a {
        padding: 0 5px;
    }
    
    .header-line {
        margin: 10px 0;
    }
    
    /* ---------studio-------- */
    .wrapper-watermark {
        top: -35px;
        left: -5%;
        font-size: 200px;
    }
    
    .studio-paragraph {
        top: -50%;
        left: 0%;
        font-size: 12px;
    }
    
    .studio-title-text h1 {
        margin-top: 25px;
        font-size: 26px;
    }
    
    .studio-block h1 {
        font-size: 12px;
    }
    
    .studio-block:hover h1 {
        font-size: 12px;
    }
    
    .studio-block p {
        margin-top: 10px;
        font-size: 9px;
        line-height: 1.5;
    }
    
    .studio-block:hover p {
        font-size: 9px;
    }
    
    .studio-button-arrow button {
        padding: 3px 9px;
        font-size: 9px;
        margin-bottom: 10px;
    }

    .studio-button-arrow img {
        width: 10px;
    }
    
    /* --------development------------ */
    .development-title-text h1 {
        font-size: 22px;
    }
    
    .development-title-text p {
        font-size: 12px;
    }
    
    .four-block {
        height: 700px;
    }
    
    .development-wrapper-image img {
        width: 257px;
    }
    
    .development-title h1 {
        font-size: 22px;
        left: 55px;
        top: 45px;
    }
    
    .development-three-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 110px;
        left: 44px;
        width: 75%;
        height: 700px;
    }

    .development-block {
        padding: 0;
    }
    
    .development-block h1 {
        left: 17px;
        top: 22px;
        font-size: 19px;
    }
    
    .development-button-arrow {
        left: 14px;
        top: 80px;
        width: 125px;
    }

    .development-right-arrow {
        width: 10%;
    }

    .development-button-arrow button {
        padding: 4px 9px;
        font-size: 11px;
    }

    #dev-rectangle {
        width: 65%;
        height: 10%;
        bottom: -7%;
    }

    .development-img-blocks-bg {
        width: 65%;
    }

    /* -------firt in searching---- */
    .first-in-searching-title-text h1 {
        font-size: 24px;
    }
    
    .first-in-searching-title-text h2 {
        top: 5px;
        font-size: 14px;
        left: 0;
    }
    
    .first-in-searching-title-text p {
        top: 43px;
        width: 45%;
        font-size: 12px;
        line-height: 1.5;
    }
    
    .first-in-searching-images {
        width: 55%;
        top: 0;
    }
    
    /* -----our-projects------- */
    .color-strip {
        height: 65px;
    }

    .color-strip h1 {
        width: 65%;
        left: 10%;
        top: 29%;
        font-size: 26px;
    }
    
    .color-strip h2 {
        width: 60%;
        left: 36%;
        top: -14px;
        font-size: 14px;
    }

    .color-strip-button {
        height: 65px;
    }
    
    .color-strip-button button {
        border-radius: 12px;
        padding: 5px 15px;
        margin: 10px 0;
        font-size: 9px;
        width: 25%;
    }
    
    /* -------adaptation------- */
    .container-adaptation {
        padding: 0 47px;
    }

    .adaptation-title-text {
       width: 55%;
    }
    
    .adaptation-title-text h1 {
        font-size: 24px;
    }
    
    .adaptation-title-text h2 {
        top: 5px;
        left: 0;
        font-size: 14px;
    }
    
    .adaptation-title-text p {
        width: 45%;
        top: 43px;
        font-size: 12px;
        line-height: 1.5;
    }

    .adaptation-images {
        width: 50%;
    }
    
    /* ----------trade-in------- */
    .container-trade-in-background {
        padding: 0 47px;
    }

    .trade-in-blocks {
        width: 95%;
    }

    .trade-in-title h1 {
        font-size: 18px;
    }
 
    .trade-in-ico-title h1 {
        width: 95%;
        font-size: 14px;
    }

    .trade-in-paragraph p {
        font-size: 12px;
    }

    .trade-in-button button {
        margin: 10px 0;
        font-size: 9px;
    }
    
    .trade-in-ico-title img {
        width: 20%;
    }

    /* ---care-for-everyone--- */
    .care-for-everyone-title-text h1 {
        font-size: 24px;
    }
    
    .care-for-everyone-title-text h2 {
        top: 5px;
        left: 7%;
        font-size: 14px;
    }
    
    .care-for-everyone-title-text p {
        top: 43px;
        line-height: 1.5;
        font-size: 12px;
    }

    /* ----contact-us--- */
    .container-contact-us-background {
        padding: 0 47px;
    }
    
    .contact-us-title-text  {
        margin-top: 20px;
        width: 85%;
    }
    
    .contact-us-title-text p {
        margin-top: 20px;
        font-size: 11px;
        line-height: 1.7;
    }
    
    .contact-us-block {
        width: 100%;
        margin-top: 30px;
    }

    .contact-us-title-text h1 {
        font-size: 18px;
        text-align: center;
    }
    
    .first-name,.last-name {
        height: 30px;
        font-size: 11px;
    }
    
    .email {
        height: 30px;
        font-size: 11px;
    }
    
    .message {
        height: 130px;
        font-size: 11px;
    }

    ::placeholder {
        font-size: 11px;
    }

    .contact-us-paragraph-button p {
        font-size: 9px;
        margin: 5px 0 0 10px;
    }
    
    .contact-us-paragraph-button button {
        border-radius: 10px;
        margin: 10px 0 0 20px;
        font-size: 9px;
    }

    /* -----another-color-strip-- */
    .another-color-strip {
        width: 100%;
        height: 60px;
    }
}