@font-face {
    font-family: "PTSans"; 
    src: url("../fonts/PTSans-Caption.ttf") format(".ttf"); 
}

@font-face {
    font-family: "Parangon530C"; 
    src: url("../fonts/Parangon530C.ttf") format(".ttf");
}

@font-face {
    font-family: "Futura"; 
    src: url("../fonts/futura\ medium\ bt.ttf") format(".ttf")
    url("../fonts/Futura\ Bold\ font.ttf") format(".ttf");
}

@font-face {
    font-family: "FuturaBT"; 
    src: url("../fonts/futura-bold-bt.ttf") format(".ttf");
}

@font-face {
    font-family: "Arial"; 
    src: url("../fonts/Arial-BoldMT.ttf") format(".ttf")
    url("../fonts/arial.ttf") format(".ttf");
}

@font-face {
    font-family: "Tahoma"; 
    src: url("../fonts/Tahoma-Bold.ttf") format(".ttf");
}

@font-face {
    font-family: "HelveticaNeueCyr"; 
    src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format(".ttf")
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format(".ttf");
}

@font-face {
    font-family: "MyriadPro"; 
    src: url("../fonts/MyriadPro-Regular.ttf") format(".ttf");
}

@font-face {
    font-family: "Exo20"; 
    src: url("../fonts/Exo20-Bold.ttf") format(".ttf")
    url("../fonts/Exo20-SemiBold.ttf") format(".ttf");
}

@font-face {
    font-family: "Exo20"; 
    src: url("../fonts/Exo20-Bold.ttf") format(".ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background:#fff;
}

button, img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 127px;
}

/* --------top------- */
.container-top-background {
    height: 100vh;
    padding: 0 127px;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-title-text-rectangles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-title-text-rectangles h1 {
    font-family: Parangon530C, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

.top-title-text-rectangles .top-title-text-paragraph {
    line-height: 1.5;
    font-family: PTSans-Caption, sans-serif;
    font-size: 24px;
    color: #fff;
    margin: 73px 0;
    text-align: center;
    align-items: center;
}

.top-rectangle {
    width: 870px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#top-rectangle {
    width: 250px;
    height: 155px;
    border: solid 2px #fff; 
    margin-bottom: 25px;
    position: relative;
}

#top-rectangle h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Parangon530C, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 33px;

}

#top-rectangle p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-family: PTSans-Caption, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.top-rectangle-img {
    position: absolute;
    top: -16px; 
    right: 97px;

}

/* ------header------ */
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.main-nav {
    margin-top: 40px;
    font-family: Futura-Medium, sans-serif;
    font-size: 30px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.main-nav li a {
    padding:  0 15px;
    color: #000;
}

.main-nav a:hover{
    color: #f6ae48;
}  

.header-line {
    margin: 40px 0;
    border-bottom: 2px solid #adadad;
}

/* ---------studio-------- */
.studio-paragraph-wrapper {
    position: relative;
}

.wrapper-watermark {
    position: relative;
    top: -40px;
    left: 0;
    z-index: 0;
}

.wrapper-watermark p {
    font-size: 550px;
    font-family: PTSans-Caption, sans-serif;
    color: #d3d3d3;
}

.studio-paragraph {
    position: absolute;
    top: 270px;
    left: 0;
    z-index: 1;
    width: 758px;
    line-height: 1.5;
    font-family: PTSans-Caption, sans-serif;
    font-size: 18px;
    color: #313131;
    text-align: left;
}

.studio-title-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 524px;
}

.studio-title-text h1 {
    width: 400px;
    font-family: HelveticaNeueCyr-Bold, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.studio-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 595px;
}

.studio-block {
    width: 402px;
    line-height: 1.5;
}

.studio-block:hover {
    background-color: #f6ae48;
    padding: 10px;
}

.studio-block h1 {
    font-family: Arial-BoldMT, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.studio-block:hover h1 {
    font-family: Arial-BoldMT, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #f6ae48;
    text-align: left;
    padding: 5px;
}

.studio-block p {
    font-family: Arial-Regular, sans-serif;
    font-size: 15px;
    color: #000;
    text-align: left;
}

.studio-block:hover p {
    color: #fff;
    background-color: #f6ae48;
    font-family: Arial-Regular, sans-serif;
    font-size: 15px;
    padding: 5px;
}

.studio-block:hover .studio-rocket-image {
    background: url('../images/rocketWhiteStudio.png'); 
    display: block;
    width: 30px; 
    height: 58px; 
}

a.studio-rocket-image {
    background: url('../images/rocketStudio.png'); 
    display: block; 
    width: 30px;
    height: 58px; 
    margin-bottom: 10px;
}

.studio-block:hover .studio-phone-image {
    background: url('../images/phoneWhiteStudio.png'); 
    display: block;
    width: 28px; 
    height: 45px; 
}

a.studio-phone-image {
    background: url('../images/phoneStudio.png'); 
    display: block; 
    width: 28px;
    height: 45px; 
    margin-bottom: 10px;
}

.studio-block:hover .studio-heart-image {
    background: url('../images/lifelineWhiteStudio.png'); 
    display: block;
    width: 57px; 
    height: 45px; 
}

a.studio-heart-image {
    background: url('../images/lifelineBlueStudio.png'); 
    display: block; 
    width: 59px;
    height: 48px; 
    margin-bottom: 10px;
}

.img-white:hover {
    background-color: #f6ae48; 
}

.studio-button-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.studio-button-arrow button {
    margin: 5px 0;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 8px 19px;
    font-size: 18px;
    font-family: MyriadPro-Regular, sans-serif;
}

/* --------development------------ */
.container-development-background {
    background-image: url('../images/backgroundDevelopment.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.development-title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 570px;
}

.development-title-text h1 {
    width: 720px;
    font-family: Exo20-Bold, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.development-title-text p {
    margin-top: 70px;
    line-height: 1.5;
    width: 1040px;
    font-family: HelveticaNeueCyr-Roman, sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.four-block {
    position: relative;
    height: 660px;
}

.development-title-image {
    position: relative;
}

.development-image {
    position: absolute;
    top: -47px;
}

.development-title h1 {
    position: absolute;
    left: 130px;
    top: 75px;
    z-index: 1;
    font-family: Parangon530C, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.development-three-block {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 255px;
    width: 1135px;
}

.development-block h1 {
    position: absolute;
    left: 45px;
    top: 75px;
    z-index: 3; 
    font-family: FuturaBT-Bold, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.line {
    border-bottom: 2px solid #fff;
}

/* .development-block-2 h1 {
    position: absolute;
    left: 45px;
    top: 75px;
    z-index: 3; 
    font-family: Exo20-Bold, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
} */

/* .development-block-3 h1 {
    position: absolute;
    left: 806px;
    top: 75px;
    z-index: 3; 
    font-family: Exo20-Bold, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
} */

.development-button-arrow {
    position: absolute;
    left: 44px;
    top: 240px;
    z-index: 4;
    width: 280px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.development-button-arrow button {
    margin: 5px 0;
    color: #fff;
    background: transparent;
    padding: 8px 19px;
    font-size: 24px;
    font-family: MyriadPro-Regular, sans-serif;
}

.development-button-arrow .blue-btn {
    border: 2px solid #00b9e7;
}

/* .development-button-arrow-2 {
    position: absolute;
    left: 44px;
    top: 240px;
    z-index: 4;
    width: 280px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.development-button-arrow .yellow-btn {
    border: 2px solid #f6ae48;
}

/* .development-button-arrow-3 {
    position: absolute;
    left: 801px;
    top: 240px;
    z-index: 4;
    width: 280px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
} */

.development-button-arrow .green-btn {
    border: 2px solid #66bf0d;
}

#dev-rectangle {
    bottom: -46px;
    position: absolute;
    z-index: 5;
    width: 366px;
    height: 52px;
    margin-bottom: 0;
    border: none;
}

.blue {
    background-color: #00b9e7;
}

.yellow {
    background-color: #ffcb00;
}

.green {
    background-color: #66bf0d;
}

.development-wrapper {
    position: relative;
}

/* -------firt in searching---- */
.first-in-searching {
    height: 710px;
    position: relative;
    left: 45px;
    top: 75px;
    z-index: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.first-in-searching-title-text h1 {
    display: flex;
    position: absolute;
    left: -8px;
    top: 3px;
    z-index: 1; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #cfcfcf;
    text-transform: uppercase;
}

.first-in-searching-title-text h2 {
    display: flex;
    position: absolute;
    left: 48px;
    top: 28px;
    z-index: 2; 
    font-family: Parangon530C, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.first-in-searching-title-text p {
    display: flex;
    position: absolute;
    left: 48px;
    top: 102px;
    width: 565px;
    z-index: 2; 
    font-size: 24px;
    color: #000;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.first-in-searching-images {
    width: 620px;
    height: 464px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -----our-projects------- */
.our-projects {
    height: 987px;
    position: relative;
}

.color-strip {
    width: 100%;
    height: 120px;
    background-color: #303263;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-strip h1 {
    display: flex;
    text-align: center;
    position: relative;
    z-index: 0; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 97px;
    font-weight: bold;
    color: #777898;
    text-transform: uppercase;
}

.color-strip h2 {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    z-index: 1; 
    font-family: Parangon530C-Regular, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.our-projects-collage-1, .our-projects-collage-2 {
    display: flex;
    align-items: stretch;
}

.img-wrapper {
    width: 50%;
}

.our-projects-collage-1 img, .our-projects-collage-2 img {
    width: 100%;
    height: 100%;
}

.images-auto-service {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.images-auto-service .description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-strip-button {
    width: 100%;
    height: 120px;
    background-color: #303263;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-strip-button button {
    background-color: #6a6b8e;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 20px 43px;
    margin: 25px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 235px;
    height: 66px;
}

.color-strip-button button:hover {
    color: #6a6b8e;
    background-color: #fff;
    font-family: Tahoma-Bold, sans-serif;
    font-weight: bold;
}

/* -------adaptation------- */
.adaptation {
    height: 565px;
    position: relative;
    left: 45px;
    top: 75px;
    z-index: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0;
}

.adaptation-title-text h1 {
    display: flex;
    position: absolute;
    left: -8px;
    top: 3px;
    z-index: 1; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #cfcfcf;
    text-transform: uppercase;
}

.adaptation-title-text h2 {
    display: flex;
    position: absolute;
    left: 48px;
    top: 28px;
    z-index: 2; 
    font-family: Parangon530C, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.adaptation-title-text p {
    display: flex;
    position: absolute;
    left: 48px;
    top: 102px;
    width: 550px;
    z-index: 2; 
    font-size: 24px;
    color: #000;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.adaptation-images {
    width: 750px;
    height: 434px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ----------trade-in------- */
.container-trade-in-background {
    padding: 0 127px;
    background-image: url('../images/tradeInBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.trade-in {
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trade-in-title h1 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Parangon530C, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.trade-in-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trade-in-block {
    margin-top: 95px;
    width: 433px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.trade-in-ico-title {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.trade-in-ico-title h1 {
    width: 400px;
    margin: 10px;
    font-family: Parangon530C, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.trade-in-paragraph p {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
    font-family: arial, sans-serif;
    font-size: 18px;
    color: #fff;
}

.trade-in-button button {
    background-color: #f6ae48;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 15px 30px;
    margin: 46px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---care-for-everyone--- */
.care-for-everyone {
    height: 565px;
    position: relative;
    left: 45px;
    top: 75px;
    z-index: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0;
}

.care-for-everyone-title-text h1 {
    display: flex;
    position: absolute;
    left: -8px;
    top: 3px;
    z-index: 1; 
    font-family: Tahoma-Bold, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #cfcfcf;
    text-transform: uppercase;
}

.care-for-everyone-title-text h2 {
    display: flex;
    position: absolute;
    left: 48px;
    top: 28px;
    z-index: 2; 
    font-family: Parangon530C, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.care-for-everyone-title-text p {
    display: flex;
    position: absolute;
    left: 48px;
    top: 102px;
    width: 550px;
    z-index: 2; 
    font-size: 24px;
    color: #000;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.care-for-everyone-image {
    width: 750px;
    height: 434px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* ----contact-us--- */
.container-contact-us-background {
    padding: 0 127px;
    background-image: url('../images/contactUsBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-us {
    height: 568px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-us-title-text  {
    width: 350px;
}

.contact-us-title-text h1 {
    display: flex;
    font-family: Parangon530C, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.contact-us-title-text p {
    margin-top: 55px;
    display: flex;
    font-size: 18px;
    color: #fff;
    font-family: Arial-Regular, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.contact-us-paragraph-button {
    width: 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}

.contact-us-paragraph-button p {
    display: flex;
    font-size: 14px;
    color: #fff;
    font-family: Arial-Regular, sans-serif;
    line-height: 1.5;
    margin: 15px 0 0 25px;
}

.contact-us-paragraph-button button {
    background-color: #f6ae48;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 15px 30px;
    margin: 15px 0 0 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Parangon530C, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-us-block {
    margin-top: 80px;
}

.first-name,.last-name {
    background-color: transparent;
    width: 304px;
    height: 45px;
    font-size: 18px;
    color: #fff;
    border-color: #fff;
    padding: 19px;
    font-family: Arial-Regular, sans-serif;
}

.email {
    background-color: transparent;
    width: 612px;
    height: 45px;
    font-size: 18px;
    border-color: #fff;
    padding: 19px;
    font-family: Arial-Regular, sans-serif;
}

.message {
    background-color: transparent;
    width: 612px;
    height: 162px;
    resize: none;
    font-size: 18px;
    border-color: #fff;
    padding: 19px;
    font-family: Arial-Regular, sans-serif;
}

::placeholder {
    color: #fff;
    font-size: 18px;
    font-family: Arial-Regular, sans-serif;
}

/* -----another-color-strip-- */
.another-color-strip {
    width: 100%;
    height: 110px;
    background-color: #f6ae48;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* media-query */
@media screen and (max-width: 1280px) {
    
}